CREATE TABLE ProvinceAndCity(
   Id INTEGER  NOT NULL PRIMARY KEY IDENTITY(1,1)
  ,ProvinceId INTEGER  NOT NULL
  ,Province   NVARCHAR(MAX) NOT NULL
  ,City       NVARCHAR(MAX) NOT NULL
  ,Latitude   NUMERIC(11,8) NOT NULL
  ,Longitude  NUMERIC(11,8) NOT NULL
);
INSERT INTO ProvinceAndCity(ProvinceId,Province,City,Latitude,Longitude) VALUES (1,N'اردبيل',N'اردبيل',38.24974442,48.29428482);
INSERT INTO ProvinceAndCity(ProvinceId,Province,City,Latitude,Longitude) VALUES (1,N'اردبيل',N'اصلاندوز',39.44260406,47.41002274);
INSERT INTO ProvinceAndCity(ProvinceId,Province,City,Latitude,Longitude) VALUES (1,N'اردبيل',N'آبي بيگلو',38.28489685,48.55250549);
